<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>


    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/${date:yyyy-MM-dd}_${level}.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="${date:yyyy-MM-dd}_%5p_%c{1}_%M_%x - %m%n"/>
        </layout>
    </appender>

    <logger name="err_to_file">
        <level value="ERROR"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="info_to_file">
        <level value="INFO"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="debug_to_file">
        <level value="DEBUG"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <root>
        <level value="ALL" />
        <appender-ref ref="FileAppender"/>
    </root>


</log4j:configuration>